html{
    font-size: 16px;
    --headers:#3badca;
    --text:#dce3e6;
    --dark:#0D0208;
    --light:#faeb14;
}

@media only screen and (max-width: 600px){
    html{
        font-size: 20px;
    }
}

.divWrapper {
  margin: 0px auto;
  width: 60rem;
  /* margin-top: 3rem; */
  background: rgba(0,0,0,.75);

}

.wrapper_mask {
    width: 100%;
    height: 6.25rem;
    overflow: hidden; 
    position: relative;
   /* display: inline-block;
    margin-bottom: -2.5rem; */
    border-top: 0.01em solid;
    border-bottom: 0.01em solid;
}


.list_item {
    min-height: 6.25rem;
    max-height: 6.25rem;
    margin: 0rem;
    padding: 0rem;
    background-size: contain;
    text-align: center;
    color:var(--light);
    
}

/* Typography */

body {
  /*font-family: Helvetica, Arial, sans serif;*/
  font-family: 'Anton', sans-serif;;
  font-size: 1rem;
  /* background-color: #080205;
   color:var(--headers); */
   background: url("sharktank.jpeg") no-repeat fixed;
  color: var(--text);;
}

h1, h2 {
    color:var(--headers);
}

p {
    font-family: 'Nova Mono', monospace;
    color: var(--text);;
}

.recipe_if, .recipe_then {
    font-weight: bold;
    font-size: 1.5rem;
    top:0px;
    color:var(--light);
}

.tagline {
  font-weight: normal;
  font-size: 1.5rem;
}

a {
 font-weight: bold;
 text-decoration: none;
 color:var(--text);
}

.container {
    position: absolute;
    width:20rem;
}

.tblSlot {
    width: 100%;
    height:100%;
} 

.btnGen {
    width: 50%;
    height: 4rem;
    background-color: var(--headers);
    color:var(--dark);;
    margin:0 auto;
    font-size:3rem;
    text-align:center;
    border-radius: 4rem 0 4rem 0;
    box-shadow: .5rem .5rem 1rem #08071b;
    cursor: pointer;
    transition-duration: 250ms;
    margin-bottom: 2rem;

}

/* .btnGen:hover{
    background-color: #008F11;
    color:var(--headers);
} */

.btnGen:active{
    background-color: #008F11;
    box-shadow: .25rem .25rem .5rem #080205;
    transform:translateY(.5rem);
}

.txtBS {
    width: 50%;
    height: 4rem;
    color:var(--dark);;
    margin:0 auto;
    font-size:2rem;
    text-align:center;
    border-radius: .5rem .5rem 1rem .5rem;
}

#actionbox {
    left:0px;
}
#adjectivebox {
    left:20rem;
}
#nounbox {
    left:40rem;
}  

.footer{
    font-family: 'Nova Mono', monospace;
    padding-top: 3rem;
    font-size: .75rem;
    text-align: center;
    color:var(--headers);
}

.q {
    color:var(--headers);
}
.ans {
    font-style: italic;
    list-style: none;
    padding-bottom:1rem;
    padding-top:.25rem;
    font-family: 'Nova Mono', monospace;
}